// color variables
$primary-bg: #121214;
$secondary-bg: #2b2b2b;
$primary-font: #fff;
$accent: #fd2c53;
html {
  height: 100vh;
}
body,
body > div {
  height: 100%;
}
html,
body {
  padding: 0;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: $primary-bg;
  color: $primary-font;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;

  li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 1rem;
  color: $accent;
}
b {
  color: $accent;
}
// for the sake of time i'll add all styles here
.container {
  display: grid;
  height: 100%;
  column-gap: 50px;
  padding: 20px 50px;
  grid-template-areas:
    'nav nav'
    'body body';
}

.nav-bar {
  grid-area: nav;
  background-color: $secondary-bg;
  height: max-content;
  margin-bottom: 10px;
}
.card-body {
  grid-area: body;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
}
.current-post {
  position: relative;
  height: 500px;
  flex: 50%;
}

.recent-post {
  position: relative;
  overflow-y: auto;
  height: 600px;
  flex: 50%;
}

.card-post {
  top: 0;
  transition: top ease 0.25s;
  position: relative;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 150px;
  cursor: pointer;
  margin-bottom: 30px;
  .post-img {
    position: relative;
    margin-right: 20px;
  }
  &:hover {
    top: -5px;
  }
}

.card-details {
  padding: 20px 50px;
}

.comment-body {
  div:not(:last-child) {
    margin-bottom: 15px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-bg;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
